body {
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}

.porfile-cont{
    background-image: url('https://thumbs.dreamstime.com/b/d-render-neon-circle-frame-background-room-banner-design-retrowave-synthwave-vaporwave-illustration-party-sales-145186169.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-color:gray; */
}

.profile-card {
    background-color: rgb(240, 234, 234);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width:20%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    
    
}

.card-header {
   width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.card-image{
    border: 1px solid black;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    
}
}



.card-body {
    /* padding: 20px; */
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    span{
        width: 80%;
        border: 1px solid gray;
        margin-bottom: 20px;
    }
    
}
.profile-name{
    /* border: 1px solid black; */
    display:flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    h2{
        color:black;
    }
    img{
        width: 20px;
        height:20px;
    }
    
}




.social-icons {
    /* border: 1px solid black; */
    width: 80%;
    margin-top: 0;
    a{
        text-decoration: none;
    }

}

.social-icon {
    color: #5f5454;
    font-size:12px;
    font-weight: 600;
    
    
    
}

.social-icon:hover {
    color: #131313;
}
