
 

.section-login{
 background-color: #4158D0;
    background-image: linear-gradient(43deg, #41bdd0 0%, #40acbd 46%, #c258e6 100%);
    
    width: 100%;
    height:600px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.container-login {
    
    background-color:white;
    box-shadow: white 2px;
    color:black;
     width: 380px;
    height: 380px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    }


.buttons{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.facebook{
    background-color:navy ;
    width:150px;
    height: 40px;
    color: white;
    border:none;
    border-radius: 10px;
    
}
.google{
    background-color: white;
    color:black;
    height: 40px;
    width: 150px;
    border:1px solid black;
    border-radius: 10px;
}



 

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color:black;
    width: 380px;
    color: white;
    padding: 10px 20px;
    border: none;
    
    border-radius: 3px;
    cursor: pointer;
    }
 
    
   .account{
    align-items: baseline;
    text-align: center;
    font-size: 12px;
   }