* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side-bar {
    height: auto;
    width: 100%;
    display: flex;

}

.nav {

    position: fixed;
    height: 100vh;
    width: 20%;


}

.inner-sidebar {
    width: 20%;
}

.image {

    width: 80%;
    height: 40%;

    margin-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.img {
    width: 51%;
    height:40%;
    border-radius: 5px;
}

.list {

    width: 80%;
    height: 20%;
    margin-left: 4%;

    
}
.list ul{
    
    height: 80%;
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: 2px;
    word-spacing: 8px;
}

.icons {
    
    width: 80%;
    height: 10%;
    letter-spacing: 7px;
    display: flex;
    
    align-items: center;
    margin-left: 4%;

}

.inner-sidebar2 {
    background-color: rgb(230, 227, 227);
    width: 80%;
    
    border: 1px solid rgb(167, 9, 241);
}

header {
    width: 100%;
    height: 30vh;

    margin-left: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.filters{
    border: 1px solid black;
    display: flex;
    width: 100%;
    height: 10vh;
    display: flex;
    
}

.filter{
    border: 1px solid black;
    height: 60%;
    width:5%;
    display: flex;
    
    align-items: center;
}
.button{
    border: 1px solid black;
    height: 6vh;
    width: 50%;
    
}
.btn{

    border: none;
    width: 10%;
    height: 100%;
    background-color:white;
    color:black;
}
.btn :hover active{
    background-color: rgb(93, 91, 91);
}

.hr {
    background-color: rgb(186, 180, 180);

    width: 100%;
    height: 4%;
}

.main{
    height: 50vh;
    width: 100%;
    border:1px solid black;
    display: flex;
    justify-content: space-between;
}
.inner-main{
    height: 40vh;
    width: 30%;
    border: 1px solid green;
}
.inner-main img{
    height:70%;
    width: 90%; 
}