* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cont1 {
  width: 100%;
  height: 10vh;
  text-align: center;
  background-color: pink;
}

.cont2 {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.box2 {
  width: 20%;
  height: 25vh;
  background-color: violet;
  position: relative;
  top: 8px;
}

.box3 {
  background-color: yellow;
  width: 59%;
  height: 50vh;
  position: relative;
  top: 8px;
}

.cont3 {
  display: flex;
  justify-content: space-between;
}

.box5 {
  background-color: aquamarine;
  width: 20%;
  height: 45vh;
  position: relative;
  bottom: 23vh;
}

.box6 {
  background-color: black;
  width: 20%;
  height: 23vh;
  position: relative;

  bottom: 23vh;

}

.box7 {
  background-color: brown;
  width: 79%;
  height: 20vh;
  position: relative;
  bottom: 43vh;
  left: 44vh;
  text-align: center;
}

.box8 {
  background-color: blue;
  width: 80%;
  height: 20vh;
  position: relative;
  bottom: 41vh;
}

.box9 {
  background-color: blueviolet;
  width: 18%;
  height: 20vh;
  position: relative;
  bottom: 61vh;
  left: 173vh;
}