.footer{
   width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .innerfooter{
    width: 80%;
    height: 100%;
    border-top: 1px solid rgb(154, 151, 151);
    
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .footercontent{
    
    font-size: 14px;
    font-weight: 300;
    color: rgb(74,74, 74);
    font-family: Poppins, sans-serif;
  
  }
  
  .innerfooter  span{
    font-size: 14px;
    font-weight: 300;
    color:#f33f3f;
    font-family: Poppins, sans-serif;
  }