*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}
nav{
    width: 100%;
    background-color: white;
    height: 10vh;
    
    display: flex;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-nav{
    width: 60%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    

    
}
.inner-nav ul{
   
    width: 85%;
    display: flex;
    list-style-type: none;
    justify-content:space-evenly;
}
.inner-nav1{
   

    width:20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.search{
    
    display: flex;
    justify-content: end;
    align-items: center;
   
}
.login{
    
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}