*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
nav{
    background-color: whitesmoke;
    border: 1px solid red;
    width: 100%;
    height:8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    
}
.logo{
    border: 2px solid green;
    width: 20%;
}
.logo2{
    border: 2px  solid green;
    width: 20%;

}
.logo2 ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

}
.container{
    background-image: url('https://www.w3schools.com/w3images/architect.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.br{
   background-color: black;
   opacity: 0.77;
   width:6%;
   height: 10vh;
   color: white;
   font-family:monospace;
   font-weight: ;
   letter-spacing: 3px;
   font-size: 30px;
   display:flex;
   justify-content: center;
   align-items: center;
  
   
    

}
.architects{
   
    
    width:15%;
   height: 10vh;
   color: white;
   font-size: 30px;
   font-family: sans-serif;
   display: flex;
   justify-content: center;
   align-items:center;
}
.projects{
border: 2px solid red;
height: 20vh;
width: 100%;
display: flex;
justify-content:start;
align-items:center;

}
.houses{
    width: 100%;
    height: 80vh;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inner-houses{
    
    height: 40vh;
    width: 95%;
    border: 2px solid black;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0px 0px 2px 2px;
}
.summerhouse{
 background-image: url('https://www.w3schools.com/w3images/house5.jpg');
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 20%;
 height: 70%;

}
.brickhouse{
    background-image: url('https://www.w3schools.com/w3images/house2.jpg');
    background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 20%;
 height: 70%;
}
.renovated{
background-image:url('https://www.w3schools.com/w3images/house3.jpg') ;
background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 20%;
 height: 70%;
}
.barnhouse{
background-image:url('https://www.w3schools.com/w3images/house4.jpg') ;
background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 20%;
 height: 70%;
}
.summerhouse1{
background-image:url('https://www.w3schools.com/w3images/house2.jpg') ;
background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 20%;
 height: 70%;
}
.brickhouse1{
background-image:url('https://www.w3schools.com/w3images/house5.jpg') ;
background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 20%;
 height: 70%;
}
.renovated1{
background-image:url('https://www.w3schools.com/w3images/house4.jpg') ;
background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 20%;
 height: 70%;
}
.barnhouse1{
background-image:url('https://www.w3schools.com/w3images/house3.jpg') ;
background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 20%;
 height: 70%;
}
