@media screen and (max-width: 1000px){
    .innernav ul {
       display:none;
    }
    .innernav2{
     display:flex;
    }
    
    
}
@media screen and (max-width: 480px){
 
.logo{
    /* border: 1px solid green; */
    width: 100%;
    text-align: center;
}


}