/* .header{
  width: 100%;
  height: 11vh;
} */
/* nav bar */

.menubar{
  
  background-color: white;
  /* border: 1px solid rgb(188, 11, 11); */
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.inner-menubar{
  /* border: 1px solid black; */
  width: 80%;
  display: none;
  justify-content: center;
  align-items: center;
  
}
.inner-menubar ul{
  list-style-type: none;
  text-transform: capitalize;
  font-size: 20px;

}
.link{
  text-decoration: none;
}
.navbar{
 
  width: 100%;
  height: 11vh;
  background-color:#232323;
  display: flex;
}

.logo{
  
  width: 40%;
 
  display: flex;
  justify-content: center;
  align-items: center ;
}
.logo h2{
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight:600;
  color: white;
}
#clothing{
  color: #f33f3f;
}

.innernav{
  /* border: 1px solid rgb(234, 229, 229);
   */
 
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innernav ul {
  
  width: 85%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  list-style-type: none;
}
.innernav li{
 padding: 10px 10px;
}
.innernav li {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family:Poppins, sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
#li1{
  border-bottom: 3px solid #f33f3f;

}
#li2:hover{
  border-bottom: 3px solid #f33f3f;

}
#li3:hover{
  border-bottom: 3px solid #f33f3f;

}
#li4:hover{
  border-bottom: 3px solid #f33f3f;

}

.innernav2{
  direction: end;
 
  width: 10%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  
}
#btn{
  width: 100%;
  height: 100%;
}

 
 /* nav bar ended */

 /* slider part */

.slider{
  height:88vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.banner1{
  
  background-image: url('images/slide_01.jpg');
  background-position: center;
 
  

  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.banner2{
  background-image: url('images/slide_02.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
  height: 100%;
  width: 100%;
  
  display:none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.banner3{
  background-image: url('images/slide_03.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
  height: 100%;
  width: 100%;
  
  display:none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.innerslider1{
 
  
 color: white;
 
 
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.innerslider2{
  height: 90%;
  
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.innerslider3{
  height: 90%;
 
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
#bestoffer{
 
  font-family: Poppins, sans-serif;
  font-size:22px;
  font-weight:800;
  letter-spacing: 5px;
  color: #f33f3f;
}
#newarrival{
  font-family: Poppins, sans-serif;
  font-size:50px;
  font-weight: 500;
 
  letter-spacing: 10px;
  color:white;
}


.sliderbtn{
  padding: 10px 10px ;
  
  color: white;

   width:7%;
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sliderbtn button{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  
  border: none;
}
/* slider ended */


/* section part */
.section{
  
  width: 100%;
  height:20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  


}
.innersection{
  border-bottom: 1px solid rgb(215, 215, 220);
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.innersec{
  
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.innersec h1{
  
  font-size: 30px;
  font-family: Poppins, sans-serif;
  font-weight: 100;
  /* padding: 15px; */
 
}
.innersec p a{
  /* padding: 15px; */
  text-decoration: none;
  color: #f33f3f;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size:14px;
}

.innersection1{
  /* border: 1px solid red; */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  
  
  
}
.intersection{
 
  width:80%;
  height: auto;
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
}

  

/* section ended */
/* card started */

.card{
  margin: 10px 10px;
  width: 28%;
  height: fit-content;
  border: 1px solid rgb(218, 217, 217);
  box-shadow: 1px 2px rgb(218, 217, 217) ;
}
.cardimage{
  width: 100%;
  height: 40%;
  
}
.cardimage img{
  width: 100%;
  height: 100%;

}
.innercard{
  background-color: white;
  width: 100%;
  height:60% ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cardtitle{
  width:85% ;
  height: 20%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
 
}
.title{
  /* border: 1px solid red; */
  color: rgb(100, 100, 218);
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 120px;
  height: 50px ;
  display: flex;
  

  

}
.rate{
  /* border: 1px solid red; */
  color: #3f3f3f;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-weight: 600;
}
.carddiscription{
  width:85% ;
  height: 30%;
  display: flex;
  text-align: justify;
  justify-content: space-between;
  font-size: 14px;
  font-family:Poppins, sans-serif;
  color: #838282;

}
.cardreviews{
  width:100% ;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

.innerreview{
  width: 90px;
  height: 30px;
  
  display: flex;
  justify-content: center;
  align-items: center;

}
#review{
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #f33f3f;
}
.fa-star{
  color:#f33f3f ;
}
/* card ended */

/* middle started  */
.middle{
  margin-top: 20px;
  width: 100%;
  height: 80vh;
 
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;

}
.innermiddle1{
  width: 100%;
  
  display: flex;
  justify-content: center;

  align-items: center;
}
.middleheading{
  border-bottom: 1px solid rgb(20, 20, 21);
  width: 80%;
}
.innermiddle2{
  width: 80%;
  height: 100%;
  /* border: 1px solid red; */
  margin: 10px;
  display: flex;
  
  align-items: center;
  
}
.middle2content{
  /* border: 1px solid blue; */
  width: 500px;
  height: 100%;

}
.middlebutton{
  width: 100%;
  /* border: 1px solid red; */
}
.middleimage{
  /* border: 1px solid blue; */
  width: 500px;
  height: 100%;

}
.middleimage img{
  width: 100%;
  height: 100%;
}


/* middle ended */
/* upper footer start */
.upperfooter{
  width: 100%;
  border-top: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerupper{
  /* border: 1px solid green; */
  background-color: #eeeded;
  width: 80%;
  border-radius: 5px;
  margin: 30px 30px;


}
.uppercont{
  /* border: 1px solid rgb(125, 15, 236); */
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.uppercont h4{
  font-size: 18px;
  color: rgb(26,102,146);
  margin-bottom: 15px;
  
}
.uppercont p{
    font-family: Poppins,sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: rgb(74, 74, 74);
    
}
.upperbtn{
  
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn{
  background-color: #f33f3f;
  color: white;
  font-family: Poppins, sans-serif;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 14px;
  transition: all 0.3s;
}
.btn:hover{
  background-color:rgb(18,18,18);
 

}









/* upper footer ended */







/* footer part */
.footer{
 
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerfooter{
  width: 80%;
  height: 100%;
  border-top: 1px solid rgb(154, 151, 151);
  
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.footercontent{
  
  font-size: 14px;
  font-weight: 300;
  color: rgb(74,74, 74);
  font-family: Poppins, sans-serif;

}

.innerfooter  span{
  font-size: 14px;
  font-weight: 300;
  color:#f33f3f;
  font-family: Poppins, sans-serif;
}







